@model PaginatedList<Order>
@{
    ViewData["Title"] = "Index";
    int dataOrder = (Model.PageIndex - 1) * 4;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1>Orders</h1> <a class="btn btn-primary" asp-action="create">Create</a>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Stautus</th>
                        <th scope="col">Date</th>
                        <th scope="col">TotalItems</th>
                        <th scope="col">TotalAmount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        dataOrder++;
                        <tr>
                            <th scope="row">@dataOrder</th>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.Status</td>
                            <td>@item.CreatedAt.ToString("dd-MM-yyy HH:mm")</td>
                            <td>@item.OrderItems.Count</td>
                            <td>@item.TotalAmount</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning @(item.Status!=Pustok.Enums.OrderStatus.Pending?"disabled":"")"> Edit</a>
                                <a asp-action="detail" asp-route-id="@item.Id" class="btn btn-primary delete-btn">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev?"":"disabled")">
                        <span class="page-link">Previous</span>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex==i?"active":"")"><a class="page-link" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item  @(Model.HasNext?"":"disabled")">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

                    }